<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memory.memory_kotlin">

    <application
        android:name=".BootStrap"
        android:allowBackup="true"
        android:icon="@drawable/ic_pencil"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1135677094589057~4982897664"/>
        <activity android:name=".RandomLoginActivity"></activity>
        <activity android:name=".view.RandomActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HistoryLoginActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TaskCreateLoginActivity" />
        <activity android:name=".TodayToDoTaskLoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".TodayToDoTaskActivity" />
        <activity android:name=".TaskCreateActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>